#body {
    background-color: lightblue;
}

#root-container {
    /*background-color: green;*/
    margin-top: 25px;
}

.my-grid-row {
    /*background-color: red;*/
    margin-bottom: 10px;
}

.my-grid-col {
    /*background-color: lightgrey;*/
}